/*Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*PT Sans*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

body{
    background-color: #05081C !important;
    background-image: url("../assets/bg2.png");
    background-size: contain;
}

.navbarclass a{
    color: whitesmoke !important;
    font-size: 1.5rem;
}

#navbarNav{
    display: flex !important;
    flex-direction: row-reverse;
    font-size: 1.5rem;
    margin-right: 2rem;
}
.navbar{
    background-color: #05081C !important;
}
#navbarNav li{
    padding: 0 1rem;
}
.flexdiv{
    display: inline-flex;
    flex-direction: row-reverse;
    
}
@media screen and (max-width: 990px){
    .flexdiv{
        display: inline-flex;
        flex-direction:row;
        
    }
    .navbar{
        height: 4rem !important;
    }
    .navbar-brand{
        font-size: 2.5rem !important;
    }
    .navbar-toggler-icon{
        font-size: 2.5rem;
    }
    .nav-item a{
        font-size: 2.25rem;
    }
    #navbarSupportedContent{
        background-color: #05081C !important;
    }
}

/*Home Section*/

#home{
    width: 90%;
    margin: 5rem auto;
    /*min-height: 40vw;*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#home-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*border: 1px solid white;*/
    min-width: 60%;
    min-height: 50%;
}

#sm-icons{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-right: 40px;
}

#sm-icons i{
    padding: 5px 0;
    font-size: 3rem;
    color: whitesmoke;
}

#sm-icons i:hover{
    color: #48B997;
}

#introduction p{
    font-size: 4.5rem;
    color: whitesmoke;
}



#introduction hr{
    color: whitesmoke;
    opacity: 100%;
    width: 25rem;
}

#home-photo{
    /*border: 1px solid white;*/
    min-width: 40%;
    height: 39vw;
    /*max-height: 51%;*/
}

#home-photo img{
    height: 100%;
    /*width: 100%;*/
}

#down-arrow{
    /*width: 100vw;*/
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 6rem;
    margin-bottom: 4vw;
}

#down-arrow i{
    /*display: block;*/
    color: whitesmoke;
    font-size: 3rem;
}

#sec-down-arrow{
    margin-top: -1rem;
}

@media screen and (max-width: 1250px){
    #introduction p{
        font-size: 3.5rem;
        color: whitesmoke;
    }
}
@media screen and (max-width: 1090px){
    #introduction p{
        font-size: 3rem;
        color: whitesmoke;
    }
}
@media screen and (max-width: 1000px){
    #home{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

    }
    #home-text{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        /*border: 1px solid white;*/
        min-width: 90vw;
        min-height: 50%;
        /*margin-top: 5vw;*/
    }
    #home-photo{
        min-height: 50vw;
        margin-bottom: 5vw;
    }
    #down-arrow{
        left: -2.5rem;
    }
}

@media screen and (max-width: 850px){

}

/*About section*/

.section-title{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}

#about{
    width: 90%;
    margin: 5rem auto;
    /*height: 45vw;*/
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /*border: 1px solid white;*/
}

#about-title{
    height: 20%;
    width: 100%;
    /*border: 1px solid white;*/
    text-align: center;
    color: whitesmoke;

}

#about-title #about-me{
    color: #48B997;
    font-size: 2.5rem;
}

#about-title #welcome{
    color: whitesmoke;
    font-size: 3rem;
    margin-top: -1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

#about-content{
    height: 100%;
    width: 100%;
    /*border: 1px solid white;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.about-content-title{
    color: #48B997;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

}

#about-content-left{
    height: 100%;
    width: 50%;
    /*border: 1px solid palevioletred;*/
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 1%;
}

.about-content-left-child{
    position: relative;
    top: 6%;
    min-width: 90%;
    height: 60%;
    /*border: 1px solid greenyellow;*/
    border-radius: 20px;
    background-color: #131C3E;
}

.about-content-content{
    height: 90%;
    font-size: 1.5rem;
    color: whitesmoke;
}

.about-content-content ul{
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.education-sub{
    font-size: 1rem;
}

#about-content-right{
    height: 80%;
    width: 50%;
    /*border: 1px solid palevioletred;*/
}

.about-content-right-child{
    display: flex;
    flex-direction: column;
    /*border: 1px solid greenyellow;*/
    min-height: 40%;
    background-color: #131C3E;
    margin-top: 5%;
    border-radius: 20px;
}
#about-me-content{
    padding: 15px;
}

#about-content-right-second{
    width: 80%;
}

.horizontal-line{
    width: 43%;
    height: 10vw;
    border: 5px solid white;
    border-left: none;
    border-top: none;
    margin-top: 67px;
    margin-right: 50%;
}

.vertical-line{
    width: 43%;
    height: 15vw;
    border: 5px solid white;
    border-right: none;
    border-top: none;
    border-bottom: none;
    margin-right: 50%;
}

/*@media screen and (max-width: 1500px){*/
/*    .vertical-line{*/
/*        height: 5vw;*/
/*    }*/
/*}*/
@media screen and (max-width: 1415px){
    .about-content-content{
        font-size: 1rem;
    }
}

@media screen and (max-width: 1250px){
    .about-content-left-child{
        min-height: 60%;
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 1100px){
    #about-title{
        margin-bottom: 2vw;
    }
}
@media screen and (max-width: 1000px){
    #about-horizontal-line{
        margin-top: 28%;
        margin-right: -50%;
    }
    #about-vertical-line{
        margin-right: -43%;
        MARGIN-TOP: 50%;
    }
}
/*@media screen and (max-width: 600px){*/
/*    #about-content{*/
/*        height: 100%;*/
/*        width: 100%;*/
/*        !*border: 1px solid white;*!*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        flex-wrap: nowrap;*/
/*    }*/
/*    #about-content-left{*/
/*        width: 90%;*/
/*    }*/
/*}*/


/*Experience Section*/

#experience{
    width: 90%;
    margin: 108px auto;
    /*border: 1px solid white;*/
    display: flex;
}

#exp-left{
    width: 55%;
    /*border: 5px solid violet;*/
}

#exp-title-in{
    font-size: 2.5rem;
    color: #4860B9;
}

#exp-quote{
    font-size: 3rem;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

#exp-right{
    width: 45%;
    padding-top: 1rem;
    /*border: 5px solid green;*/
}

.exp-right-child{
    min-height: 10vw;
    /*border: 3px solid yellow;*/
    background-color: #131C3E;
    border-radius: 10px;
    margin: 30px auto;
}

.exp-right-child-title{
    font-size: 2rem;
    color: #4860B9;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-left: 14px;
    padding-top: 4px;
}

.exp-sub-title{
    margin-top: -10px;
    font-size: 1rem;
    color: #4860B9;
}

.exp-content{
    padding: 15px;
    padding-left: 0px;
    color: whitesmoke;
    font-size: 1.25rem;
}

@media screen and (max-width: 1400px){
    #exp-quote{
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 1000px){
    /*.exp-right-child-title{*/
    /*    font-size: 1.75rem;*/
    /*}*/
    .exp-content{
        font-size: 1.5rem;
    }
    #experience{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    #exp-left{
        width: unset;
    }
    #exp-title-in{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    #exp-quote{
        display: flex;
        justify-content: center;
    }
    #exp-right{
        width: 70%;
    }
}


/*Projects Section*/

#project-horizontal-line{
    height: 15%;
    width: 70%;
    margin-left: -11%;
}

#project-vertical-line{
    height: 10%;
    width: 0;
    margin-left: -11%;
}

#project{
    width: 90%;
    margin: 20rem auto;
    margin-bottom: 0;
    min-height: 45vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    /*border: 1px solid white;*/
}

#prj-top{
    height: 20%;
    width: 100%;
    /*border: 1px solid white;*/
    text-align: center;
    color: whitesmoke;

}

#prj-title-in{
    color: #48B997;
    font-size: 2.5rem;
}

#prj-quote{
    color: whitesmoke;
    font-size: 3rem;
    margin-top: -1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

#prj-bottom{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 80%;
    /*border: 1px solid white;*/
    flex-direction: row;
    justify-content: space-around;

}

.prj-bottom-div{
    min-width: 40%;
    /*height: 48%;*/
    margin: 10px;
    background-color: #131C3E;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prj-bottom-div img{
    /*width: 400px;*/
    height: 400px;
    padding: 10px;
}

.prj-content-div{
    position: relative;

}

.prj-bottom-div:hover{
    box-shadow: 0 0 20px #74ADC8;
}

.prj-detail{
    position: absolute;
    top: 0;
    left:0;
    text-align: center;
    color: transparent;
    font-size:3rem;
    height: 100%;
    box-sizing: border-box;
    padding: 25px;
    width: 100%;
    transition: all 0.5s ease-in-out;

}

/*.portfolio-details span{*/
/*    padding-top:50px;*/
/*}*/

.prj-bottom-div:hover .prj-detail{
    background-color: #80808078;
    color: white;
}

@media screen and (max-width: 1400px) and (min-width: 1000px){
    #project-vertical-line{
        height: 5%;
    }
}
@media screen and (max-width: 1000px){
    #project-vertical-line{
        height: 5%;
    }
    #project-horizontal-line{
        height: 20vw;
        width: unset;
        border-bottom: none;
    }
    #project{
        margin: 2rem auto;
    }
}

/*Skills Section*/

#skill-vertical-line{
    margin: 0;
    width: 0;
}

#skill{
    width: 90%;
    margin: 5rem auto;
    /*height: 45vw;*/
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

#skill-top{
    height: 20%;
    width: 100%;
    /*border: 1px solid white;*/
    text-align: center;
    color: whitesmoke;

}

#skill-title-in{
    color: #48B997;
    font-size: 2.5rem;
}

#skill-quote{
    color: whitesmoke;
    font-size: 3rem;
    margin-top: -1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

#skill-bottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 80%;
    background-color: rgba(255,255,255,0.2);
    border-radius: 10px;
}

.skill-indicator{
    width: 20%;
    height: 70%;
    background-color: #131C3E;
    border-radius: 10px;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
}
#skills-indicators-section{
    display:flex;
    justify-content:space-around;
    flex-wrap: wrap;
    width:70%;
    /*border:1px solid ;*/
    /*margin-bottom:75px;*/

}

.skill-indicator{
    color: whitesmoke;
    width: 250px;
    height: 60px;
    background-color: #131C3E;
    border-radius: 10px;
    /*border: 1px solid red;*/
    margin: 20px 50px;
    box-shadow: 0px 0px 4px black;
}

#CPP{
    width: 80%;
    /*width: 0;*/
    height:inherit;
    border-bottom-left-radius: inherit;
    border-top-left-radius: inherit;
    background-color: #48B997;
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 10px;
    transition: 1.5s ease-in-out;
}

#HTML{
    width: 85%;
    /*width: 0;*/
    height:inherit;
    border-bottom-left-radius: inherit;
    border-top-left-radius: inherit;
    background-color: #48B997;
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 10px;
    transition: 1.5s ease-in-out;
}

#CSS{
    width: 70%;
    /*width: 0;*/
    height:inherit;
    border-bottom-left-radius: inherit;
    border-top-left-radius: inherit;
    background-color: #48B997;
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 10px;
    transition: 1.5s ease-in-out;
}

#JavaScript{
    width: 70%;
    /*width: 0;*/
    height:inherit;
    border-bottom-left-radius: inherit;
    border-top-left-radius: inherit;
    background-color: #48B997;
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 10px;
    transition: 1.5s ease-in-out;
}

#java{
    width: 80%;
    /*width: 0;*/
    height:inherit;
    border-bottom-left-radius: inherit;
    border-top-left-radius: inherit;
    background-color: #48B997 ;
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 10px;
    transition: 1.5s ease-in-out;
}

#ML {
    width: 70%;
    /*width: 0;*/
    height: inherit;
    border-bottom-left-radius: inherit;
    border-top-left-radius: inherit;
    background-color: #48B997;
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 10px;
    transition: 1.5s ease-in-out;
    overflow: visible;
}

#ML span{
    width: inherit;
}

#php{
    width: 80%;
    /*width: 0;*/
    height:inherit;
    border-bottom-left-radius: inherit;
    border-top-left-radius: inherit;
    background-color: #48B997;
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 10px;
    transition: 1.5s ease-in-out;
}

.skill-indicator-inner{
    width: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
}

.skill-indicator:hover {
    box-shadow: 0px 0px 10px
}

@media screen and (max-width: 1111px){
    #skills-indicators-section{
        width: auto;

    }
}

/*Certifications and Involvement Section*/

#cert-vertical-line{
    margin: 0;
    margin-top: 2rem;
    width: 0;
}

#cert{
    width: 90%;
    margin: 5rem auto;
    min-height: 45vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}


#cert-top{
    height: 20%;
    width: 100%;
    /*border: 1px solid white;*/
    text-align: center;
    color: whitesmoke;

}

#cert-title-in{
    color: #B9485C;
    font-size: 2.5rem;
}

#cert-quote{
    color: whitesmoke;
    font-size: 3rem;
    margin-top: -1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

#certification{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2rem;
}

.cert-titles{
    width: 40%;
    font-size: 2.5rem;
    color: #B9485C;
}

.cert-content{
    width: 40%;
    color: whitesmoke;
    font-size: 1.75rem;
}

.cert-content li{
    margin-bottom: 1.5rem;
}

#involvement{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
}

/*Contact Section*/

#contact-horizontal-line{
    width: 20%;
    height: 7rem;
    margin: 0;
    margin-left: 20%;
    border-right: 5px solid white;
}

#contact-vertical-line{
    width: 0;
    margin: 0;
    margin-top: -5px;
    height: 8rem;
}

#contact{
    /*min-height: 45vh;*/
    width: 90%;
    display: flex;
    justify-content: center;
    margin: auto;

}

#contact-div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #131C3E;
    width: 100%;
    border-radius: 50px;
    margin: 2rem;
    height: fit-content;
    padding-bottom: 2rem;
}

#contact-title{
    color: #87B948;
    /*margin-top: 40px;*/
    font-size: 2.5rem;
    font-weight: bold;
    padding: 30px;
    padding-top: 20px;
}

#contact-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#contact-content img{
    width: 30vw;

}

#contact-content-details{
    width: 40%;
    padding: 20px;
}

#contact-content-details form{
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    font-weight: bold;
}

#contact-content-details form input{
    margin-bottom: 30px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
    margin-top: 10px;
}


#message{
    margin-top: 10px;
    height: 200px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
}


/*Submit Button*/

.button{
    text-align: center;
    margin-top: 20px;
    background-color: #87B948;
}

#button-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide {
    display: none;
}

.button {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 12.5rem;
    /*magrin: 0;*/
    padding: 1.5rem;
    /*background-color: #3498db;*/
    border: none;
    border-radius: 0.3125rem;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2);
    color: white;
    /*font-weight: 300;*/
    /*text-transform: uppercase;*/
    overflow: hidden;
}
.button:before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #54d98c;
}
.button span {
    position: absolute;
    line-height: 0;
}
.button span i {
    transform-origin: center center;
}
.button span:nth-of-type(1) {
    top: 50%;
    transform: translateY(-50%);
}
.button span:nth-of-type(2) {
    top: 100%;
    transform: translateY(0%);
    font-size: 24px;
}
.button span:nth-of-type(3) {
    display: none;
}

.active1 {
    background-color: #2ecc71;
}
.active1:before {
    width: 100%;
    transition: width 3s linear;
}
.active1 span:nth-of-type(1) {
    top: -100%;
    transform: translateY(-50%);
}
.active1 span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
}
.active1 span:nth-of-type(2) i {
    animation: loading 500ms linear infinite;
}
.active1 span:nth-of-type(3) {
    display: none;
}

.finished {
    background-color: #54d98c;
}
.finished .submit {
    display: none;
}
.finished .loading {
    display: none;
}
.finished .check {
    display: block !important;
    font-size: 24px;
    animation: scale 0.5s linear;
}
.finished .check i {
    transform-origin: center center;
}

@keyframes loading {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes scale {
    0% {
        transform: scale(10);
    }
    50% {
        transform: scale(0.2);
    }
    70% {
        transform: scale(1.2);
    }
    90% {
        transform: scale(0.7);
    }
    100% {
        transform: scale(1);
    }
}

/*Submit Button Ends*/

/*Footer*/
#footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: black;
    color: white;
}

#copyright{
    font-size: 1.5rem;
}

#social-icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#social-icons ul li {
    display: inline-block;
    margin: 1rem;
    font-size: 1.5rem;
    margin-bottom: 0;
}

#social-icons a{
    color: whitesmoke;
}

#social-icons a:hover{
    color: #131C3E;
}
